<phpunit>
	<testsuites>
	  <testsuite name="Config Test Suite (must be done first)">
	    <file>suite/ConfigTest.php</file>
	  </testsuite>
	  <testsuite name="Load Model Test Suite (must be done second">
	    <file>suite/LoadingModelTest.php</file>
	  </testsuite>
	  <testsuite name="My Test Suite">
	    <directory>suite</directory>
	  </testsuite>
	</testsuites>
</phpunit>