<phpunit>
	<testsuites>
	  <testsuite name="My Test Suite">
	    <file>suite/ConfigTest.php</file>
	  </testsuite>
	  <testsuite name="My Test Suite 2">
	    <file>suite/LoadingModelTest.php</file>
	  </testsuite>
	  <testsuite name="My Test Suite 3">
	    <directory>suite</directory>
	  </testsuite>
	</testsuites>
</phpunit>